<script type="text/javascript">
  document.title = document.title + " | Manage Event";
</script>

<div class="row">
<div class="container col-md-8 col-md-offset-2">
  <h2>Manage Event: <%= event.get('name')%></h2>

  <div>
    <h3>Enrolled Participants</h3>
  </div>
  <div class="table-responsive">
    <table class="sortable-theme-bootstrap table table-striped" data-sortable>
      <thead>
        <tr>
          <th data-sorted="true" data-sorted-direction="descending">User ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Status</th>
          <th>Accept</th>
          <th>Reject</th>
        </tr>
      </thead>
      <tbody>
        <% for (var i=0; i<volProfiles.length ; ++i) {%>
          <% var volProfile = volProfiles[i] %>
          <tr>
            <td><%= volProfile.get('createdBy').get('username')%></td>
            <td><%= volProfile.get('firstName')%></td>
            <td><%= volProfile.get('lastName')%></td>
            <td><%= volProfile.get('contactPhone')%></td>
            <td><%= volProfile.get('contactEmail')%></td>
            <td><%= volProfile.get('status')%></td>
            <td>
              <form action="/event/<%= event.id %>/approve/<%= volProfile.get('createdBy').id%>" method="get">
                <button class="btn btn-success" role="button" type="submit">
                  <span class="glyphicon glyphicon-ok"> Approve</span>
                </button>
              </form>
            </td>
            <td>
              <form action="/event/<%= event.id %>/reject/<%= volProfile.get('createdBy').id%>" method="get">
                <button class="btn btn-danger" role="button" type="submit">
                  <span class="glyphicon glyphicon-remove"> Reject</span>
                </button>
              </form>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>

  <div>
    <h3>Approved Participants</h3>
  </div>
  <div class="well">
    <label class="control-label">Approved: <%= approvedParticipant.toString() %> / Max: <%= maxParticipant.toString() %></label>
    <div class="progress">
      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= approvedParticipant %>" aria-valuemin="0" aria-valuemax="<%= maxParticipant %>" style="width: <%=(approvedParticipant * 100 / maxParticipant).toString()%>%"></div>
    </div>
  </div>
  
</div>
</div>
