<script type="text/javascript">
  document.title = document.title + " | Dashboard";
</script>

<div class="container">
  <h2>Organization Dashboard</h2>
  <div class="table-responsive">
    <table class="table table-striped sortable-theme-bootstrap" data-sortable>
      <thead>
        <tr>
          <th data-sorted="true" data-sorted-direction="descending">Name</th>
          <th>Description</th>
          <th>Updated</th>
          <th>Created</th>
        </tr>
      </thead>
      <tbody>
        <% for (var i=0; i<events.length ; ++i) {%>
          <% var event = events[i] %>
          <tr>
            <td><%= event.get('name')%></td>
            <td><%= event.get('description')%></td>
            <td><%= event.updatedAt%></td>
            <td><%= event.createdAt%></td>
            <td>
              <form action="/event/<%= event.id %>/edit" method="get">
                <input class="btn btn-default" role="button" type="submit" value="Edit"/>
              </form>
            </td>
            <td>
              <form action="/event/<%= event.id %>/delete" method="post">
                <input class="btn btn-default" role="button" type="submit" value="Delete"/>
              </form>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>

  <p>
    <a href="/event/new" class="btn btn-primary" role="button">Create new event</a>
  </p>
</div>