<script type="text/javascript">
  document.title = document.title + " | Dashboard";
</script>

<div class="container">
  <h2><%= (orgProfile.get('name')) ? orgProfile.get('name') + '\'s ':'My ' %>Dashboard</h2>
  <div class="table-responsive">
    <table class="sortable-theme-bootstrap table table-striped" data-sortable>
      <thead>
        <tr>
          <th data-sorted="true" data-sorted-direction="descending">Name</th>
          <th>Date</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Max People</th>
          <th>Registered</th>
          <th>Detail</th>
          <th>Edit</th>
          <th>Manage</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% for (var i=0; i<events.length ; ++i) {%>
          <% var event = events[i] %>
          <tr>
            <td><a href="/event/<%= event.id %>"><%= event.get('name')%></a></td>
            <td><%= event.get('date')%></td>
            <td><%= event.get('startTime')%></td>
            <td><%= event.get('endTime')%></td>
            <td><%= event.get('maxParticipant')%></td>
            <td><%= event.get('maxParticipant')%></td>
            <td>
              <form action="/event/<%= event.id %>" method="get">
                <input class="btn btn-success" role="button" type="submit" value="Detail"/>
              </form>
            </td>
            <td>
              <form action="/event/<%= event.id %>/edit" method="get">
                <input class="btn btn-success" role="button" type="submit" value="Edit"/>
              </form>
            </td>
            <td>
              <form action="/event/<%= event.id %>/manage" method="get">
                <input class="btn btn-success" role="button" type="submit" value="Manage"/>
              </form>
            </td>
            <td>
              <form action="/event/<%= event.id %>/delete" method="post">
                <input class="btn btn-danger" role="button" type="submit" value="Delete"/>
              </form>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
  <p>
    <a href="/event/new" class="btn btn-primary" role="button">Create new event</a>
  </p>
</div>
