<script type="text/javascript">
  document.title = document.title + " | Dashboard";
</script>
<div class="container">
  <h2>Volunteer Dashboard</h2>

  <h3>Enrolled Events</h3>
  <div class="table-responsive">
    <table class="table table-striped sortable-theme-bootstrap" data-sortable>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Date</th>
          <th>Max People</th>
        </tr>
      </thead>
      <tbody>
        <% for (var i=0; i<eventsEnrolled.length; ++i) { %>
          <% var event = eventsEnrolled[i] %>
          <tr>
            <td><%= event.get('name')%></td>
            <td><%= event.get('description')%></td>
            <td><%= event.get('date')%></td>
            <td><%= event.get('maxParticipant')%></td>
            <td>
              <form action="/event/<%= event.id %>/enroll/delete" method="post">
                <button class="btn btn-default" role="button" type="submit">
                  <span class="glyphicon glyphicon-remove"> Quit</span>
                </button>
              </form>
            </td>
            <td>
              <form action="/qrcode/<%= event.id %>/<%= Parse.User.current().id %>" method="get">
                <button class="btn btn-default" role="button" type="submit">
                  <span class="glyphicon glyphicon-qrcode"> QR-code</span>
                </button>
              </form>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>

  <h3>Avaliable Events</h3>
  <div class="table-responsive">
    <table class="table table-striped sortable-theme-bootstrap" data-sortable>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Date</th>
          <th>Max People</th>
        </tr>
      </thead>
      <tbody>
        <% for (var i=0; i<eventsNotEnrolled.length; ++i) { %>
          <% var event = eventsNotEnrolled[i] %>
          <tr>
            <td><%= event.get('name')%></td>
            <td><%= event.get('description')%></td>
            <td><%= event.get('date')%></td>
            <td><%= event.get('maxParticipant')%></td>
            <td>
              <form action="/event/<%= event.id %>/enroll" method="post">
                <button class="btn btn-default" role="button" type="submit">
                  <span class="glyphicon glyphicon-plus-sign"> Enroll</span>
                </button>
              </form>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</div>
